<div class="panel panel-default">
	<div class="panel-body">
		<h1>Editing warmwork</h1>

		<%= render 'form' %>
	</div>
	<div class="panel-footer">
		<%= link_to 'Show', @warmwork %> |
		<%= link_to 'Back', warmworks_path %>
	</div>
</div>