<div class="panel panel-default">
	<div class="panel-body">
		<h1>Weekly Plans</h1>
		<% @date = Date.today.beginning_of_week(:sunday) %>
		<% dates = Hash.new %>
		<% dates[1] = @date %>
		<% dates[2] = @date + 1 %>
		<% dates[3] = @date + 2 %>
		<% dates[4] = @date + 3 %>
		<% dates[5] = @date + 4 %>
		<% dates[6] = @date + 5 %>
		<% dates[7] = @date + 6 %>

		<table class="table table-striped">
			<thead>
				<th>Name</th>
				<th>Sunday</th>
				<th>Monday</th>
				<th>Tuesday</th>
				<th>Wednesday</th>
				<th>Thursday</th>
				<th>Friday</th>
				<th>Saturday</th>
				<th></th>
			</thead>
			<% @weeklyplans.each do |weeklyplan| %>
					<tr>
						<td><%= weeklyplan.name %></td>
						<% @dayinc = 1 %>
						<% 7.times do %>
							<% @hasbit = false %>
							<% weeklyplan.weeklybits.each do |check| %>
								<% if check.day == @dayinc %>
									<% @hasbit = true %>
								<% end %>
							<% end %>

							<% if @hasbit %>
								<% weeklyplan.weeklybits.each do |check| %>
									<% if check.day == @dayinc %>
										<td>
											<!-- Need to tie this button to a subscribe button, to only run once clicked -->
											<%# check.create_subscription(current_user.id, check.workout.id, dates[check.day]) %>
											<%= link_to check.workout.name, check.workout, class: "workoutLink" %><br/>
										</td>
									<% end %>
								<% end %>
							<% else %>
								<td></td>
							<% end %>
						<% @dayinc += 1 %>
						<% end %>

						<td><button type="button" class="btn btn-primary submitWeek">Subscribe</button></td>

					</tr>
			<% end %>
		</table>
	</div>
</div>
