<div class="panel panel-default">
	<div class="panel-body">

		<% catHolder = "" %>
   		<% facilityHolder = ""%>
    	<% timeHolder = "" %>

		What type of workout would you like?<br/>


		Do you have access to a weight room/exercise equipment?<br/>

		How long do you have to workout?<br/>




	</div>
</div>