<% if current_user.try(:admin?) %>
	<div class="panel panel-default">
		<div class="panel-body">
			<h1>New like</h1>

			<%= render 'form' %>
		</div>
		<div class="panel-footer">
			<%= link_to 'Back', likes_path %>
		</div>
	</div>
<% else %>
	<%= render 'pages/unauth' %>
<% end %>