<div class="visible-sm-block visible-md-block visible-lg-blockhomepagework">
	<%= render 'currentWorkoutBG' %>
</div>

<div class="visible-xs-block homepagework">
	<%= render 'currentWorkoutSM' %>
</div>