<div class="panel panel-default center">
	<div class="panel-body">
		<h1>You must be signed in to see this content</h1>
		<%= link_to "Login", new_user_session_path, class: "btn btn-default" %>
		<%= link_to "Signup", purchase_path, class: "btn btn-primary" %>
		<br/><br/>
		<%= image_tag "ninja folder/#{rand(27)}.png", style:"height: 250px; float:center; padding: 10px" %>
	</div>
</div>