<div class="panel panel-default">
	<div class="panel-body">
		<h1>About SimpleFit <small>We are so glad that you are interested in us!</small></h1>
		<p>Let's take a look at what we do for you</p>
		<ul>
			<li>Provide your weekly dose of fun, custom workouts to help you kick ass.</li>
			<li>Give you personalized feedback on technique within 24 hours, Guaranteed.</li>
			<li>No fuss, no frills, no fads. Let's just get healthy together.</li>
		</ul>
		<p>If you have any feedback, we'd love to hear from you! Email us at <%= mail_to("ethan@ninjackd.com", name = nil, html_options = {subject: "Ninjack'd Feedback"}) %></p>

		<hr/>	
			<%= image_tag "Ethan_Dennis_Face.png", style:"height: 250px; float:left; padding: 10px" %>
			
				<p>My name is Ethan Dennis. I was sitting in my day job, about to head into the gym, when I had this thought. "What am I going to do in my workout today?" I couldn't help but feel that there were many people who felt like this, as well as people who avoided the gym entirely because of this. </p>
				<p>However, I feel like I am uniquely positioned to do something about this. While I was studying at the University of Michigan, I became a 3-time NCAA Track and Field All-American in the hammer throw, in addition to becoming a NSCA Strength and Conditioning Athlete of the Year. I know what it takes to become an elite level athlete, as well as what it takes to get fit for the average person.</p>
				<p> Out of this, SimpleFit was born! We strive to make workouts for everyone, from high-level athletes to people looking to take a break from the day job and get a little bit healthier.</p>



	</div>
</div>