<div class="panel panel-default">
	<div class="panel-heading">
		<h1 class="panel-title">About us</h1>
	</div>
	<div class="panel-body">
		<p>Let's take a look at what we do for you</p>
		<ul>
			<li>Provide your weekly dose of fun, custom workouts to help you kick ass.</li>
			<li>Give you personalized feedback on technique within 24 hours, Guaranteed.</li>
			<li>No fuss, no frills, no fads. Let's just get healthy together.</li>
		</ul>
	</div>
</div>