<div class="panel panel-default">
	<div class="panel-body">
		<h1>About Ninjack'd <small>We are so glad that you're here!</small></h1>
		<p>Let's take a look at what we do for you</p>
		<ul>
			<li>Provide your weekly dose of fun, custom workouts to help you kick ass.</li>
			<li>Give you personalized feedback on technique within 24 hours, Guaranteed.*</li>
			<li>No fuss, no frills, no fads. Let's just get healthy together.</li>
		</ul>
		<p>If you have any feedback, we'd love to hear from you! Email us at <%= mail_to("ethan@ninjackd.com", name = nil, html_options = {subject: "Ninjack'd Feedback"}) %></p>

		<hr/>	
			<%= image_tag "Ethan_Dennis_Face.png", style:"height: 250px; float:left; padding-right: 10px", class: "img-rounded" %>
			
				<p>My name is Ethan Dennis. I was sitting at my job, about to head into the gym, when I had this thought. "What am I going to do in my workout today?" Now, if you are anything like me, you don't have a whole lot of time to waste at the gym, let alone put an entire workout plan together. So, when you use Ninjack'd, we do that for you! Subscribe to one of our pre-made workouts, and get in and out of the gym, "ninja" quick.</p>
				<p>Here's why you should follow my workouts. While I was studying at the University of Michigan (Go Blue), I became a 3-time NCAA Track and Field All-American in the hammer throw, in addition to becoming a NSCA Strength and Conditioning Athlete of the Year. I know what it takes to become an elite level athlete, as well as what it takes to get fit for the average person.</p>
				<p>So, welcome to Ninjack'd! We make workouts for everyone, from high-level athletes to people looking to take a break from the day job and get a little bit healthier.</p>


	</div>
	<div class="panel-footer">
		*Feature still being developed. In the meantime, email me any questions about the workouts or technique at <%= mail_to("ethan@ninjackd.com", name=nil, html_options = {subject: "Ninjack Questions"} ) %>. I still promise to get back to you within 24 hours.
	</div>
</div>