<div class="panel panel-body">
	<div class="panel-body">
		<h1>Sorry to see that you cancelled</h1>
		<p>You can always sign up using the 2 week trial period. I'm confident we can convince you to stay! Sign up <%= link_to "here", new_user_registration_path %>.</p>
	</div>
</div>