<div class="visible-sm-block visible-md-block visible-lg-block homepagework">

			<div class="panel panel-default">
				<div class="panel-body center">
					<h1>Purchase your Ninjack'd account here</h1>
					<br/>
						
								<!-- Begin Official PayPal Seal -->
								<a href="https://www.paypal.com/us/verified/pal=ethan%40ninjackd%2ecom" target="_blank">
									<img src="https://www.paypal.com/en_US/i/icon/verification_seal.gif" border="0" alt="Official PayPal Seal" style="padding-right: 75px"></A>
								<!-- End Official PayPal Seal -->
							

						<div class="row row-centered">	
							<div class="col-sm-6 col-centered">
								<p><strong>Instructions</strong></p>
								<div style="text-align:left;">
									Click subscribe button below. <br/>
									Pay through the PayPal portal (You even get the first 2 weeks free!!). <br/>
									Add your user info, once you're back on ninjackd.com. <br/>
									Kick some butt on the workouts, it's that easy! <br/>
								</div>
							</div>
						</div>
				</div>


				<div class="panel-footer center">
					<p><strong>Details:</strong> $9.99 per month for unlimited use. First two weeks free!<p>
					<%= link_to image_tag("https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif"), paypal_checkout_path, id: "paypal_image_link" %>
				</div>
			</div>
		
	</div>
</div>

<div class="visible-xs-block homepagework">

			<div class="panel panel-default">
				<div class="panel-body center">
					<h3>Purchase your Ninjack'd account here</h3>
					<br/>
						
								<!-- Begin Official PayPal Seal -->
								<a href="https://www.paypal.com/us/verified/pal=ethan%40ninjackd%2ecom" target="_blank">
									<img src="https://www.paypal.com/en_US/i/icon/verification_seal.gif" border="0" alt="Official PayPal Seal" style="padding-right: 75px"></A>
								<!-- End Official PayPal Seal -->

							

							
						<div class="row row-centered">	
							<div class="col-sm-6 col-centered">
								<p><strong>Instructions</strong></p>
								<div style="text-align:left;">
									Click subscribe button below. <br/>
									Pay through the PayPal portal (You even get the first 2 weeks free!!). <br/>
									Add your user info, once you're back on ninjackd.com. <br/>
									Kick some butt on the workouts, it's that easy! <br/>
								</div>
							</div>
						</div>
						</div>


				<div class="panel-footer center">
					<p><strong>Details:</strong> $9.99 per month for unlimited use. First two weeks free!<p>
					<%= link_to image_tag("https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif"), paypal_checkout_path %>
				</div>
			</div>
		
	</div>
</div>

<div class="row row-centered">
	<%= render 'userreviews/randomreview', {userreview: Userreview.offset(rand(Userreview.count)).first} %>
</div>
