<div class="panel panel-default">
	<div class="panel-body">
		<h1>Welcome to Ninjack'd! We are so glad that you joined us!</h1>

		<p>To get started, check out some of the active <%= link_to "Workouts", workouts_path %>.</p>
	</div>
</div>