<div class="panel panel-default">
	<div class="panel-body">

		<h1>Here's your completed workout!</h1>

		<table class="table">
			<thead>
				<tr>
		            <th>Name</th>
		            <th>Category</th>
		            <th>Description</th>
		            <th>Duration (min)</th>
				<tr>
			</thead>

			<% current_user.subscriptions.each do |this| %>
				<% if this.complete? %>
					<tr>
						<td><%= this.workout.name %></td>
						<td><%= this.workout.category %></td>
						<td><%= this.workout.description %></td>
						<td><%= this.workout.duration %></td>
					</tr>
				<% end %>
			<% end %>

		</table>
	</div>
</div>