<div class="panel panel-default">
	<div class="panel-body">
		<h1>Editing weeklybit</h1>

		<%= render 'form' %>
	</div>
	<div class="panel-footer">
		<%= link_to 'Show', @weeklybit %> |
		<%= link_to 'Back', weeklybits_path %>
	</div>
</div>
