<div class="panel panel-default">
	<div class="panel-body">
		<h1>New subscription</h1>

		<%= render 'form' %>
	</div>
	<div class="panel-footer">
		<%= link_to 'Back', subscriptions_path %>
	</div>
</div>