<div class="tabbable"> 
	<ul class="nav nav-pills", style="margin-left:40%; margin-right:40%;">
	  <li class="active"><a href="#tab1" data-toggle="pill" data-no-turbolink="true">Calendar View</a></li>
	  <li><a href="#tab2" data-toggle="pill" data-no-turbolink="true">List View</a></li>
	</ul>

	<div class="tab-content">
		<div class="tab-pane active" id="tab1">
			<br/>
			<%= render 'calendar' %>
		</div>
		<div class="tab-pane" id="tab2" >
			<br/>
			<%= render 'list' %>
		</div>
	</div>
</div>


<%#= render 'list' %>
<%#= render 'calendar' %>


<div class="center">
  <%= will_paginate @subscriptions, renderer: BootstrapPagination::Rails %>
</div>