<div class="panel panel-default">
	<div class="panel-body">
		<h1>Editing weeklyplan</h1>

		<%= render 'form' %>
	</div>
	<div class="panel-footer">
		<%= link_to 'Show', @weeklyplan %> |
		<%= link_to 'Back', weeklyplans_path %>
	</div>
</div>
