/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require 'masonry/transitions'
 *= require bootstrap-datepicker3
 *= require_self
 */

.center {
	text-align: center;
}

.workoutLink {
	color:black;
	text-decoration: none;
}

.easyFitFont {
	/*font-family: 'Permanent Marker', cursive;*/
	font-family: 'Rock Salt', cursive;
	color:#e67e22;
}

.alignRight {
	float: right;
}

.alignBottom {
  vertical-align: bottom;
}

.buttonBox {
    position: absolute;
    bottom:0;
    right:0;
}
.row {
    position: relative;
}


ul.nav a:hover {
	color: #bdc3c7 !important;
}

.row li {
  width: 50%;
  float: left;
  display: inline-block;
}

#logoimg {
  border: 0 none;
  display: inline-block;
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
  text-align: left;
}

.homepagelogo {
	display: inline-block;
}

.hometext { 
    display: inline-block;
    vertical-align: top;
    float: right;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    margin-top: none;
    float:none;
	  vertical-align: top;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
/* This is to hide an display home page panels based on screen size */
.homepagework {
  display: block;
}

.item-bg {
    height:480px;
    width:100%;
    background-color: #ecf0f1;
}

.table tbody>tr>td.vert-align
{
    vertical-align: middle;
}

.borderless tbody tr td, .borderless thead tr th {
    border: none;
}

.activeWorkout {
  background-color: #e67e22;
}