<div class="panel panel-default">
	<div class="panel-body">
		<h1>Editing exercise</h1>

		<%= render 'form' %>
	</div>
	<div class="panel-footer">
		<%= link_to 'Show', @exercise %> |
		<%= link_to 'Back', exercises_path %>
	</div>
</div>